node_modules/
dist/
release/
coverage/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.DS_Store
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vercel

node_modules/
dist/
.DS_Store
.env
.env.local
.gradle/
android/.gradle/
